// common
html,
body {
  height: 100%;
}

body {
  color: #151515;
  font-family: $font;
  font-size: 16px;
  line-height: 1.2;
}

.body-content {
  min-height: 100%;
  background-color: #f2f2f2;
}

::selection {
  background: $primary;
  color: #fff;
}

::-moz-selection {
  background: $primary;
  color: #fff;
}

a:focus,
button:focus {
  outline-color: $primary;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  appearance: none;
}

textarea {
  appearance: none;
  resize: vertical;
}

.container {
  width: 1140px;
  margin: auto;

  @media (max-width: 1200px) {
    width: 932px;
  }

  @media (max-width: 991px) {
    width: 738px;
  }

  @media (max-width: 767px) {
    width: auto;
  }
}

.wrap {
  margin: 0 0 50px;
  padding: 1px 30px;
  background-color: #fbfbfb;
  box-shadow: 0 2px 10px rgba(0,0,0,.03);

  @media (max-width: 991px) {
    padding: 1px 15px;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.cf:after {
  display: table;
  clear: both;
  content: '';
}

// form
input.has-success,
select.has-success {
  border-color: #20800d;
}

input.has-error,
select.has-error {
  border-color: $primary;
}

.error-message {
  color: $primary;
}

// buttons
.button {
  display: inline-block;
  border: 0;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;

  &--primary {
    background-color: $primary;
    color: #fff;

    &:focus,
    &:hover {
      background-color: $primary--hover;
    }
  }

  &--reverse {
    background-color: $primary--hover;
    color: #fff;

    &:focus,
    &:hover {
      background-color: $primary;
    }
  }

  &--basic {
    background-color: #f2f2f2;
    color: $primary--hover;

    &:focus,
    &:hover {
      background-color: darken(#f2f2f2, 5);
    }
  }

  &--small {
    padding: 6px 13px 7px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
  }

  &--medium {
    padding: 10px 20px 9px 19px;
    border-radius: 10px;
    font-size: 19px;
  }

  &--large {
    padding: 8px 20px 9px;
    border-radius: 7px;
    font-size: 24px;
  }

  &:disabled {
    background-color: #ccc;
    cursor: default;
  }
}

// collapse
.collapse__title {
  position: relative;
  margin: 0;
  font-size: 37px;
  font-weight: 400;

  @media (max-width: 767px) {
    font-size: 28px;
  }

  &:hover {
    .collapse__title-icon {
      &:before {
        background-color: #ccc;
      }

      &:after {
        background-color: #ccc;
      }
    }
  }
}


.collapse__trigger {
  display: block;
  padding: 14px 0 19px;
  color: inherit;
  text-decoration: none;

  @media (max-width: 767px) {
    padding: 15px 0;
  }

  &.active {
    .collapse__title-icon {
      transform: rotate(45deg);
    }
  }
}

.collapse__title-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  transition: transform ease .5s;

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -3px;
    background-color: #eee;
    width: 7px;
    height: 100%;
    content: '';
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -3px;
    background-color: #eee;
    width: 100%;
    height: 7px;
    content: '';
  }
}

.collapse__content {
  display: none;
  overflow: hidden;
  transition: max-height linear .5s;
  will-change: contents;
}

// item-counter
.item-counter {
  text-align: center;
}

.item-counter__action {
  float: left;
  width: 22px;
  height: 30px;
  background-color: #dfdfdf;
  color: #8d8d8d;
  text-decoration: none;

  &:focus,
  &:hover {
    background-color: darken(#dfdfdf, 5);
  }
}

.item-counter__action--decrement {
  border-radius: 3px 0 0 3px;
  font-size: 32px;
  line-height: 26px;
}

.item-counter__action--increment {
  border-radius: 0 3px 3px 0;
  font-size: 24px;
  line-height: 28px;
}

.item-counter__field {
  box-sizing: border-box;
  float: left;
  padding: 3px 0;
  width: 32px;
  height: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 20px;
  text-align: inherit;
}

// tooltip
.tooltip {
  display: none;
  position: absolute;
  margin-left: -70px;
  padding: 0 10px;
  border-radius: 7px;
  background-color: #e6e6e6;
  color: #252525;
  text-align: center;
  z-index: 10;

  &.active {
    display: block;
  }

  &:after {
    position: absolute;
    right: 15px;
    bottom: -10px;
    border-top: 10px solid #e6e6e6;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    content: '';
  }
}

.tooltip__text {
  margin: 10px 0 9px;
  max-width: 120px;
  font-size: 14px;
}

.tooltip__control {
  margin-bottom: 9px;
}

.tooltip__trigger {
  margin: 0 9px;
  color: inherit;
  font-size: 18px;

  &:focus,
  &:hover {
    color: #555;
  }
}

// checkbox
.checkbox__native {
  position: absolute;
  clip: rect(0,0,0,0);

  &:checked + .checkbox__decoration:after {
    content: '';
  }

  &:focus + .checkbox__decoration {
    box-shadow: 0 0 15px rgba(#b4b4b4, .5);
  }

  &.has-error + .checkbox__decoration {
    border-color: $primary;
  }
}

.checkbox__decoration {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 4px;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  transition: box-shadow .3s;
  vertical-align: top;
  cursor: pointer;

  &:after {
    position: absolute;
    top: 7px;
    left: 5px;
    width: 25px;
    height: 12px;
    border-left: 5px solid $primary--hover;
    border-bottom: 5px solid $primary--hover;
    transform: rotate(-45deg);
  }

  &:hover {
    box-shadow: 0 0 15px rgba(#b4b4b4, .5);
  }
}

.checkbox__text {
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 60px);
  padding-left: 15px;
  vertical-align: top;
}

// radio
.radio-button {
  display: block;
  margin: 0 0 15px;
  cursor: pointer;
}

.radio-button__native {
  vertical-align: middle;

  &:focus {
    outline: 0;

    & + .radio-button__text {
      text-decoration: underline;
    }
  }
}

.radio-button__text {
  margin-left: 7px;
  vertical-align: middle;
}

// loading
.loading {
  background: url('../images/loading.gif') center center no-repeat;
}

// animations
@keyframes slideUp {
  0% {
    transform: translateY( 0 );
    opacity: 1;
  }

  100% {
    transform: translateY( 25px );
    opacity: 0;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY( -25px );
    opacity: 0;
  }

  100% {
    transform: translateY( 0 );
    opacity: 1;
  }
}

// browserupgrade
.browserupgrade {
  margin: 0;
  padding: 12px 5px;
  background-color: $primary;
  color: #fff;
  text-align: center;
  font-size: 24px;
  z-index: 5;

  a {
    color: inherit;
  }
}
