// variables
$primary: #d80647;
$primary--hover: #a50034;
$font: 'LG Smart';

// mixins
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}
