// header
.header {
  margin: 0 -30px;
  padding: 0 30px;
  border-bottom: 1px solid #ebebeb;

  @media (max-width: 991px) {
    margin: 0 -15px;
    padding: 0 15px;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__logo-wrap {
  padding: 14px 0;
}

.header-logo__image {
  display: block;
  width: 183px;

  @media (max-width: 991px) {
    width: 141px;
  }
}

.header__links-wrap {
  text-align: right;
}

.header-links-collapse {
  @media ( min-width: 992px ) {
    display: block !important;
  }
}

.header-links {
  @extend .list-unstyled;
  margin-top: 18px;
}

.header-links-btn {
  display: none;
  margin-top: 16px;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.active {
    @extend .icon-close;
  }

  @media (max-width: 991px) {
    display: inline-block;
  }
}

.header-links__item {
  display: inline-block;
  margin-left: 40px;

  @media (max-width: 1200px) {
    display: block;
    margin-left: 0;
    text-align: right;
  }
}

.header-links__link {
  color: inherit;
  font-size: 22px;
  text-decoration: none;

  @media (max-width: 767px) {
    font-size: 18px;
  }

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

// footer
.footer__content {
  padding: 34px 30px 30px;
  border-top: 1px solid #bababa;
  font-size: 0;

  @media (max-width: 991px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.footer-column {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  color: #242424;
  font-size: 19px;
  letter-spacing: .1px;
  vertical-align: top;

  @media (max-width: 767px) {
    display: block;
    width: 100%;
    font-size: 18px;
  }

  &--right {
    padding-left: 200px;

    @media (max-width: 1200px) {
      padding-left: 100px;
    }

    @media (max-width: 991px) {
      padding-left: 50px;
    }

    @media (max-width: 767px) {
      padding-left: 0;
    }
  }

  &__descr {
    margin-top: 0;
  }

  &__descr-link {
    color: inherit;

    &:focus,
    &:hover {
      color: #000;
    }
  }

  &__link {
    color: $primary--hover;

    &:focus,
    &:hover {
      color: $primary;
    }
  }

  &__phone {
    color: #242424;
    text-decoration: none;
  }
}

// device
.device__title {
  margin: 50px 0 80px;
  border-top: 1px solid transparent;
  color: #000;
  font-size: 38px;
  font-weight: 400;
  text-align: center;

  @media (max-width: 767px) {
    font-size: 32px;
  }
}

.device-list {
  @extend .list-unstyled;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0;
}

.device-list__item {
  flex-basis: 320px;
}

// device-cell
.device-cell {
  position: relative;
  margin-bottom: 50px;
  text-align: center;

  &.active {
    .device-cell-gallery__item {
      visibility: visible;
    }
  }
}

.device-cell-colors {
  @extend .list-unstyled;
  position: absolute;
  top: -3px;
	left: 10px;

  @media (max-width: 767px) {
    left: 3px;
  }
}

.device-cell-colors__item {
  margin-bottom: 6px;
}

.device-cell-colors__color {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;

  &--black {
    background-color: #000;

    &.active,
    &:focus,
    &:hover {
      box-shadow: 0 0 5px rgba(#000, .75);
    }
  }

  &--blue {
    background-color: #0048ab;

    &.active,
    &:focus,
    &:hover {
      box-shadow: 0 0 5px rgba(#0048ab, .75);
    }
  }

  &--violet {
    background-color: #a35f9f;

    &.active,
    &:focus,
    &:hover {
      box-shadow: 0 0 5px rgba(#a35f9f, .75);
    }
  }

  &--gold {
    background-color: #e5a200;

    &.active,
    &:focus,
    &:hover {
      box-shadow: 0 0 5px rgba(#e5a200, .75);
    }
  }

  &--silver {
    background-color: #bec7cc;

    &.active,
    &:focus,
    &:hover {
      box-shadow: 0 0 5px rgba(#bec7cc, .75);
    }
  }

  &--platinum {
    background-color: #95b0c3;

    &.active,
    &:focus,
    &:hover {
      box-shadow: 0 0 5px rgba(#95b0c3, .75);
    }
  }

  &--rose {
    background-color: #f08ee1;

    &.active,
    &:focus,
    &:hover {
      box-shadow: 0 0 5px rgba(#f08ee1, .75);
    }
  }
}

.device-cell__title {
  margin: 10px 0 25px;
  height: 62px;
  font-size: 26px;
	font-weight: 300;
}

.device-cell-label {
  position: absolute;
  top: -42px;
	right: 28px;
	width: 100px;
	height: 100px;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: zoom-in;
	z-index: 2;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transition: background-color .3s;
    background-color: rgba( $primary, 0 );
    content: '';
  }

  @media (max-width: 767px) {
    top: -60px;
    right: 0;
  }

  &:focus,
  &:hover {
    &:before {
      background-color: rgba( $primary, .25 );
    }
  }
}

.device-cell-label__text {
  display: inline-block;
	color: #fff;
	font-weight: 600;
	line-height: 1;
}

.device-cell-label__text-strong {
  font-size: 18px;
}

.device-cell-gallery {
  display: inline-block;
  position: relative;
}

.device-cell-gallery__spacer {
  visibility: hidden;
}

.device-cell-gallery__item {
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: .5s;
  animation-name: slideUp;
  animation-fill-mode: forwards;
  opacity: 0;
  visibility: hidden;

  &.active {
    animation-delay: .3s;
    animation-fill-mode: backwards;
    animation-name: slideDown;
    opacity: 1;
    z-index: 1;
    visibility: visible;
  }
}

.device-cell-gallery__image-wrap {
  display: inline-flex;
  align-items: center;
  min-height: 270px;
}

.device-cell-gallery__image {
  display: block;
  max-width: 200px;
  max-height: 270px;
}

.device-cell-gallery__title {
  margin: 10px 0 5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}

.device-cell-gallery__description {
  margin: 24px 0 11px;
	color: #000;
	font-size: 24px;
  font-weight: 400;
	line-height: 1;
}

.device-cell__price {
  margin: 27px 0 24px;
  font-size: 24px;
  font-weight: 600;
}

.device-footer {
  font-size: 22px;
  text-align: center;
  letter-spacing: .2px;

  @media (max-width: 991px) {
    font-size: 20px;
  }
}

.device-footer__link-chat {
  color: $primary;

  &:focus,
  &:hover {
    color: $primary--hover;
  }
}

.device-footer__link-tel {
  white-space: nowrap;
  color: inherit;
  text-decoration: none;
}

.device-button-wrap {
  margin: 0 0 49px;
  text-align: center;
}

.device__footer {
  margin-bottom: 18px;
}

// accessories
.accessories {
  .accessories__content {
    .device-list__item {
      flex-basis: 320px;
    }

    .device-cell-colors {
      top: 72px;

      @media (max-width: 767px) {
        top: 90px;
      }
    }

    .device-cell__price {
      margin-top: 15px;
    }
  }
}

// specs
.specs__content {
  padding: 0 10px;
}

.specs-block {
  padding-bottom: 35px;
  border-bottom: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 0;
  }
}

.specs-block__title {
  font-size: 40px;
  font-weight: 300;

  @media (max-width: 767px) {
    font-size: 28px;
  }
}

.specs-block__table {
  display: table;
  width: 100%;
}

.specs-block__table-row {
  display: table-row;
}

.specs-block__table-cell {
  display: table-cell;
  padding: 5px 0 15px;
  font-size: 24px;
  font-weight: 300;

  &:first-child {
    width: 38%;
  }

  @media (max-width: 767px) {
    padding: 12px 0;
    font-size: 14px;

    &:last-child() {
      text-align: right;
    }
  }
}

// basket
.basket-table {
  display: table;
  width: 100%;
  margin: 4px 0 24px;
  table-layout: fixed;
}

.basket-table__row {
  display: table-row;

  @media (max-width: 767px) {
    display: block;
  }

  &[data-related-gift]:not(:first-child) {
    .basket-table__cell {
      border-top: 2px solid #ebebeb;
    }
  }
}

.basket-table__cell {
  display: table-cell;
  padding: 40px 5px 34px 0;
  vertical-align: top;

  &:first-child {
    width: 25.4%;

    @media (max-width: 991px) {
      width: 40%;
    }

    @media (max-width: 767px) {
      display: block;
      width: auto;
      padding: 10px;
    }
  }
}

.basket-table-photo {
  text-align: center;
}

.basket-table-photo__wrap {
  position: relative;
  display: inline-block;
}

.basket-table-photo__gift-label {
  position: absolute;
  top: -30px;
	right: -30px;
  width: 50px;
  height: 50px;
  background: url('../images/label-2.png') 0 0 /cover no-repeat;
}

.basket-table-photo__image {
  max-width: 200px;

  @media (max-width: 991px) {
    max-width: 100%;
  }
}

.basket-table-description__row {
  display: flex;
  justify-content: space-between;
}

.basket-table-description__row--top {
  align-items: center;
  padding: 3px 0 13px;
  font-size: 27px;

  @media (max-width: 1200px) {
    flex-wrap: wrap;
    font-size: 22px;
  }
}

.basket-table-description__extra {
  @media (max-width: 1200px) {
    display: none;
  }

  &--mobile {
    display: none;

    @media (max-width: 1200px) {
      display: block;
    }
  }
}

.basket-table-description__row--bottom {
  align-items: flex-start;
  padding: 13px 0 0;
  border-top: 1px solid #ebebeb;
  font-size: 22px;

  @media (max-width: 1200px) {
    justify-content: flex-end;
  }
}

.basket-table-description__name {
  flex-basis: 48%;
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  letter-spacing: .1px;

  @media (max-width: 1200px) {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
}

.basket-table-description__name-sup {
  font-size: .65em;
}

.basket-table-description__count {
  flex-basis: 16%;
  font-size: 22px;
  text-align: right;
}

.basket-table-description__price {
  display: block;
  flex-basis: 15%;
  text-align: right;
  white-space: nowrap;

  @media (max-width: 1200px) {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
}

.basket-table-description__total-price {
  font-weight: 600;
}

.basket-table-description__model {
  font-weight: 300;
}

.basket-table-description__gift {
  color: $primary--hover;
}

.basket-table-description__action-delete {
  color: $primary--hover;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $primary;
  }
}

.basket-footer {
  display: flex;
  justify-content: space-between;

  @media (max-width: 991px) {
    flex-wrap: wrap;
  }
}

.basket-footer__actions {
  padding: 0 57px;

  @media (max-width: 991px) {
    flex-basis: 100%;
    margin-bottom: 15px;
    padding-right: 0;
    text-align: right;
  }
}

.basket-footer__result {
  width: 390px;

  @media (max-width: 991px) {
    width: 100%;
  }
}

.basket-result__list {
  margin-bottom: 24px;
}

.basket-result-list {
  display: table;
  width: 100%;
}

.basket-result-list__row {
  display: table-row;
}

.basket-result-list__cell {
  display: table-cell;

  &:last-child() {
    text-align: right;
  }
}

.basket-result-list__text {
  color: #252525;
  font-size: 22px;
  line-height: 27px;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.basket-result-list__text_marked {
  color: #20800d;
}

.basket-result__amount {
  border-top: 1px solid #ddd;
}

.basket-result-amount {
  text-align: right;
}

.basket-result-amount__value {
  margin: 23px 0 6px;
  font-size: 35px;
  font-weight: 600;

  @media (max-width: 767px) {
    font-size: 28px;
  }
}

.basket-result-amount__taxes {
  font-size: 24px;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.basket-result-amount__button-wrap {
  padding: 35px 0;
}

// customer
.customer-form {
  @extend .cf;
  padding: 29px 0 0;
}

.customer-form__column {
  float: left;
  width: 50%;

  @media (max-width: 991px) {
    width: 100%;
    float: none;
  }
}

.customer-form__fieldset {
  margin: 0;
  padding: 0 85px 0 0;
  border: 0;

  @media (max-width: 991px) {
    padding-right: 0;
  }
}

.customer-form__row {
  display: flex;
  justify-content: space-between;
}

.customer-form__label {
  display: block;
  margin: 15px 0;
  color: #000;
  font-size: 27px;

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

.customer-form__asterisk {
  color: $primary;
}

.customer-form__field {
  @include placeholder{ color: #bab9b9 };
  box-sizing: border-box;
  height: 43px;
  padding: 0 7px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #b4b4b4;
  background-color: transparent;
  transition: box-shadow .3s;
  font-family: inherit;
  font-size: 18px;

  &:focus {
    box-shadow: 0 0 15px rgba(#b4b4b4, .5);
    outline: 0;
  }

  &--size-full {
    width: 100%;
  }

  &--size-small {
    width: 88px;

    @media (min-width: 992px) and (max-width: 1199px) {
      width: 78px;
    }

    @media (max-width: 767px) {
      width: 70px;
    }

    @media (max-width: 480px) {
      width: 65px;
    }
  }

  &--size-medium {
    width: 268px;

    @media (min-width: 992px) and (max-width: 1199px) {
      width: 200px;
    }

    @media (max-width: 767px) {
      width: 180px;
    }

    @media (max-width: 480px) {
      width: 150px;
    }
  }
}

.customer-form__textarea {
  @extend .customer-form__field;
  padding: 7px;
  height: 87px;

  &--size-full {
    width: 100%;
  }
}

.customer-form__text {
  margin: 0 0 35px;
  color: #242424;
  font-size: 26px;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.customer-form__select {
  @extend .customer-form__field;
  width: 100%;
  background: url('../images/expand-arrow.png') top 8px right 10px no-repeat;
  appearance: none;

  @media ( max-width: 767px ) {
    background-position: top 15px right 5px;
    background-size: 13px 13px;
  }

  &::-ms-expand {
    display: none;
  }
}

.customer-form__delivery {
  display: none;

  &.active {
    display: block;
  }
}

.customer-form__link {
  color: $primary--hover;

  &:focus,
  &:hover {
    color: $primary;
  }
}

.customer-form__agreement {
  .customer-form__label {
    margin-bottom: 6px;
  }
}

.customer-form__button-wrap {
  padding: 43px 0;
  text-align: right;
}

.text-page {
  padding-bottom: 50px;
  color: #242424;
  font-size: 22px;
  line-height: 1.1;

  @media (max-width: 767px) {
    font-size: 18px;
  }

  ol {
    padding: 0 12px;
    counter-reset: list;

    @media (max-width: 767px) {
      padding: 0;
    }

    li {
      display: block;
      margin-bottom: 25px;

      @media (max-width: 767px) {
        margin-bottom: 15px;
      }

      &:before {
        margin-right: 4px;
        content: counters(list, ".") ".";
        counter-increment: list;
      }

      ol {
        padding-left: 0;

        li {
          margin-bottom: 0;
        }
      }
    }
  }

  h1 {
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;

    @media (max-width: 767px) {
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 32px;
    }

    span {
      display: block;
      font-size: 22px;

      @media (max-width: 767px) {
        font-size: 20px;
      }
    }
  }

  p {
    margin: 0;

    a {
      color: #242424;
      text-decoration: none;
    }
  }

  &.organizer {
    h1 {
      margin-bottom: 60px;

      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
  }
}

.text-page__item {
  margin-bottom: 30px;

  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
}
