.thanks {
  padding-top: 87px;
  text-align: center;

  @media (max-width: 767px) {
    padding: 0;

    .wrap {
      padding: 1px 15px;
    }
  }

  &__title {
    margin-top: 60px;
    margin-bottom: 80px;
    color: #000;
    font-size: 52px;
    font-weight: 600;

    @media (max-width: 767px) {
      margin: 40px 0;
      font-size: 36px;
    }

    span {
      display: block;
      color: #151515;
      font-size: 38px;

      @media (max-width: 767px) {
        font-size: 28px;
      }
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 36px;

    @media (max-width: 991px) {
      margin-bottom: 50px;
      font-size: 27px;
    }
  }

  &-check {
    display: block;
    margin-bottom: 60px;

    &__img {
      max-width: 100%;
    }
  }

  &__feedback {
    font-size: 22px;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    .thanks__link {
      color: $primary--hover;

      &:hover {
        text-decoration: none;
      }
    }

    .thanks__phone {
      color: #151515;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}
