$font-path: '../fonts';

@font-face {
  font-family: "LG Smart";
  src: url('#{$font-path}/LG_Smart_Regular__Web.woff') format("woff"), url('#{$font-path}/LG_Smart_Regular__Web.ttf') format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "LG Smart";
  src: url('#{$font-path}/LG_Smart_SemiBold__Web.woff') format("woff"), url('#{$font-path}/LG_Smart_SemiBold__Web.ttf') format("truetype");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: "LG Smart";
  src: url('#{$font-path}/LG_Smart_Light__Web.woff') format("woff"), url('#{$font-path}/LG_Smart_Light__Web.ttf') format("truetype");
  font-weight: 300;
  font-style: normal
}
