$icomoon-font-path: "../fonts" !default;

$icon-arrow-prev: "\f10d";
$icon-arrow-next: "\f112";
$icon-burger: "\f16f";
$icon-close: "\f184";

@font-face {
  font-family: 'lg-icons';
  src:
    url('#{$icomoon-font-path}/lg-icons.ttf?tq63r') format('truetype'),
    url('#{$icomoon-font-path}/lg-icons.woff?tq63r') format('woff'),
    url('#{$icomoon-font-path}/lg-icons.svg?tq63r#lg-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lg-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-prev {
  &:before {
    content: $icon-arrow-prev;
  }
}
.icon-arrow-next {
  &:before {
    content: $icon-arrow-next;
  }
}
.icon-burger {
  &:before {
    content: $icon-burger;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
